<body class="fixed-sn light-blue-skin" aria-busy="true">
  
  <%= render 'chats/header' %>
  <main>
    <div class="container-fluid text-center">
      <%= render 'chats/addfriend' %>

      <div class="row">
        no chat window
      </div>

    </div>
    
  </main>

  <%= render 'layouts/footer' %>

</body>